#articles a {
    color: black;
    font-size: 200%
}

#articles a:hover {
    color: #379e34
}

.articles-con .col-12 h5 {
    text-align: left;
    color: #379e34
}

.sub-container {
    margin-top: 20px
}

.admin-articles {
    margin-left: 10%
}

.articles-con {
    margin-top: 30px
}

.readArticle {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 5%
}

.readArticle p {
    font-size: 200%
}

.readArticle .update-article a {
    font-size: 150%;
    color: #379e34;
    padding: 10px
}

.update-article a:hover {
    color: #ffffff
}

.article-body {
    width: 80%;
    margin-left: 10%
}

.article-body img {
    width: 100%;
}

#loader {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: 10px 0 0 50%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #379e34;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

form span {
    font-size: 150%;
    color: red
}