.sections {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 25px
}
.cards{
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center !important;
    margin-top: 20px;

}
.row .title {
    width: 100%;
    margin-top: 10px;
}
.row h5 {
    font-size: 300% !important;
    text-align: center;
    font-weight: 700 
}
.card {
    width: 100%;
    height: 100%;
    border: none !important;
    background-color: #c4c4c4 !important;
    display: inline-block !important
}
.card-body {
    width: 100%;
    height: 70%;
    padding: 0 !important
}
.card-body img {
    width: 30%;
    height: 90%;
    border-radius: 50%;
}
.card-body a {
    color: #379E34;
    font-size: 1.5rem;
    text-align: center;
}
.card-body a:hover {
    color: #FC0707;
}

@media only screen and (max-device-width: 768px) {
    .card {
        width: 150px;
        height: 150px;
        margin-left: 20%
    }
    .card-body img {
        width: 50%
    }
    .card-body a {
        font-size: 200%
    }
}

@media only screen and (max-device-width: 460px) {
    .cards {
        width: 45% !important;
        margin-right: 5% !important;
        padding-right: 0 !important;
        padding-left: 0 !important
    }
    .card {
        width: 100px;
        height: 100px;
    }
    .card-body img {
        width: 50%
    }
    .card-body a {
        font-size: 150%
    }
}