.contact-form {
    margin-top: 20px;
    margin-left: 25%;
    width: 50%;
    margin-bottom: 70px
}

.contact-form h3 {
    text-align: center;
    font-size: 300%
}

.contact-form label {
    font-size: 200%;
}

.contact-form input,
.contact-form select {
    font-size: 200%;
    width: 100%
}

.contact-form textarea {
    font-size: 150% !important;
    background-color: #379E34 !important
}

.contact-form button {
    font-size: 2rem;
    margin-left: 30px
}

.file-upload {
    font-size: 150% !important;
    padding: 0 !important
}