.carousel {
    margin-top: 1
}
.carousel-inner img {
    width: 100%;
    height: 508px;
    background-position: center
}
.carousel-caption {
    top: 20px;
    left: 26px !important;
}
.carousel-caption p {
    font-size: 3em;
    text-align: left;
}
.btn-carousel {
    background: #B2ACAD;
    color: #f08c8c
}
.carousel-caption h3 {
    font-size: 5em;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
    text-align: left;
}

@media only screen and (max-device-width: 768px) {
    .carousel-inner img {
        height: 400px;
    }
}
