.connect {
    margin-bottom: 40px
}

.connect h2 {
    color: #B2ACAD !important;
    font-size: 3rem !important;
    text-align: center !important
}

.social a {
    font-size: 4.5em;
    padding: 3rem;
}

.fa-facebook {
    color: #3b5998
}

.fa-twitter {
    color: #00aced
}

.fa-instagram {
    color: #517fa4
}

.fa-youtube {
    color: #bb0000
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover {
    color: #d5d5d5
}

@media only screen and (max-device-width: 768px) {
    .connect h2 {
        font-size: 2rem !important
    }

    .social {
        padding-right: 0 !important;
        padding-left: 0 !important
    }

    .social a {
        font-size: 3em;
        padding: 2rem
    }
}